body {
  background-color: #4169E1 !important;
}

#contain-central {
  height: 605px;
  margin-top: 2rem;
}

#contain-select h3 {
  text-align: center;
  color: white;
  font-size: 15pt;
}

#contain-select p {
  color: rgb(109, 104, 104);
  font-size: 11pt;
  margin-top: 7px;
  margin-bottom: 0;
}

#contain-select li {
  line-height: 9px;
  border: 2px solid #000;
  cursor :pointer;
}

#contain-select {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

#contain-select #select{
  width: 480px;
  height: 350px;
  overflow: auto;
}